@page
@model OdeToFood.Pages.Restaurants.DetailsModel
@{
}
<h2>@Model.Restaurant.Name</h2>
<div>
    @Model.Restaurant.Id
</div>
<div>
    @Model.Restaurant.Location
</div>
<div>
    @Model.Restaurant.Cuisine
</div>
<a asp-page="./List"></a>